html {
  height: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: var(--min-body-width);
  height: 100%;
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-family-text);
  line-height: 1.5;
  background-color: var(--color-bg-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--medium-viewport) {
    font-size: 18px;
  }
}

#app-root {
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* stylelint-disable no-descending-specificity */
a {
  color: var(--color-link);
  text-decoration: none;
}

button,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

ol {
  list-style-type: none;
}

ul > li {
  list-style: none;
}

a,
a:focus,
a:active,
div,
div:focus,
div:active,
button,
button:focus,
button:active,
ol,
ol:focus,
ol:active,
li,
li:focus,
li:active,
ul,
ul:focus,
ul:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 1.5em 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input::-ms-clear {
  display: none;
}
/* stylelint-enable */
